<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586741264700-mn9kttgibb989s9qm1kv03ogmegdppsu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586741264700-mn9kttgibb989s9qm1kv03ogmegdppsu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>586741264700-8vhrpoodqkgv5ktrmoidp313uj0psk40.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNgfTJ2CPIE3SA-NILJ8xVJhZYWPuiByM</string>
	<key>GCM_SENDER_ID</key>
	<string>586741264700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paemisyon</string>
	<key>PROJECT_ID</key>
	<string>paem-45a67</string>
	<key>STORAGE_BUCKET</key>
	<string>paem-45a67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586741264700:ios:7bb4b4ccccabd9d671ae39</string>
	<key>DATABASE_URL</key>
	<string>https://paem-45a67.firebaseio.com</string>
</dict>
</plist>